:root {
  --main_text_color: rgb(233, 222, 222);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

button {
  padding: 0;
  border: none;
  background: none;
}

.outer-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  margin-top: 5vh;
}

nav {
  position: absolute;
  top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-anchor {
  margin-left: 4rem;
}

nav hr {
  flex: 1 1 10%;
  margin-right: -2.5rem;
  margin-left: 2.5rem;
  opacity: 0.3;
  z-index: 1;
}

.hamburger {
  display: none;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(80px);
  color: var(--main_text_color);
  text-transform: uppercase;
  padding: 2rem 8rem;
}

nav ul li {
  margin: 0 20px;
  position: relative;
  cursor: pointer;
}

nav ul li::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  background-color: var(--main_text_color);
  height: 5px;
  width: 0%;
  transition: 0.2s ease-in;
  display: block;
  margin: 0;
}

nav ul li:hover::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  background-color: var(--main_text_color);
  height: 5px;
  width: 100%;
  display: block;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--main_text_color);
}

nav ul li a span {
  font-weight: 800;
  margin-right: 7px;
}

.multipage-heading {
  text-transform: uppercase;
  font-weight: 100;
}

.multipage-heading span {
  color: gray;
  font-weight: 700;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 1020px) {
  nav hr {
    display: none;
  }

  nav ul {
    padding: 2rem 1rem;
  }

  .li-number {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .outer-wrap {
    position: relative;
    overflow-x: hidden;
  }

  nav {
    justify-content: space-between;
  }

  .hamburger {
    margin-right: 3.5rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1;
  }

  .hamburger-line {
    width: 1.5rem;
    height: 3px;
    background-color: aliceblue;
    position: relative;
  }

  .hamburger-line::after,
  .hamburger-line::before {
    content: "";
    width: 1.5rem;
    height: 3px;
    background-color: aliceblue;
    margin-bottom: 0.3rem;
    transition: 0.5s;
    position: absolute;
  }

  .hamburger-line::after {
    top: 7px;
  }

  .hamburger-line::before {
    top: -7px;
  }

  .open .hamburger-line {
    transition: 0.1s;
    background: transparent;
  }

  .open .hamburger-line::after {
    top: 0;
    transform: rotate(45deg);
  }

  .open .hamburger-line::before {
    top: 0;
    transform: rotate(-45deg);
  }

  nav ul {
    margin: 0;
    position: absolute;
    flex-direction: column;
    top: 0;
    min-height: 100%;
    transition: 0.5s;
    right: -20rem;
    opacity: 0;
  }

  .active {
    right: 0px;
    display: flex;
    opacity: 1;
  }

  nav ul li {
    margin: 1rem;
  }

  nav ul li:first-child {
    margin-top: 3rem;
  }

  nav ul li::after {
    top: 1rem;
    height: 3px;
  }

  nav ul li:hover::after {
    top: 1rem;
    height: 3px;
  }
}